.detailWrapper {
   display: flex;
   flex-direction: column;
   row-gap: 3.2rem;
   max-width: 98.2rem;
   width: 100%;

   margin-left: auto;
   margin-right: auto;
}

.detail {
   display: flex;
   column-gap: 3.6rem;
   // justify-content: center;
   width: 100%;

   &__left {
   }

   &__right {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
   }

   &__content {
      margin-top: 3.2rem;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
   }

   &__category {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
   }

   &__descr {
      max-width: 45rem;
      font-size: 1.7rem;
   }

   &__chat {
      max-width: 45rem;
   }

   &__header {
      h4 {
         display: none;
      }
   }
}

/* Tablet Small*/
@media (max-width: 900px) {
   .detail {
      flex-direction: column;
      row-gap: 3.2rem;
      align-items: center;

      &__left {
         width: 80%;
      }
      &__descr {
         max-width: 100%;
      }

      &__right {
         width: 80%;
      }

      &__chat {
         max-width: 100%;
      }
   }
}

/* Mobile */
@media (max-width: 600px) {
   .detail {
      row-gap: 3rem;

      &__left {
         width: 100%;
      }
      &__descr {
         max-width: 100%;
      }

      &__right {
         width: 100%;
      }

      &__chat {
         max-width: 100%;
      }
   }
}
