.auth {
   &__row {
      padding-top: 5.625rem;
      border-top: 1px solid $grey;

      display: flex;
      flex-direction: column;
      row-gap: 2rem;

      opacity: 1;
      position: relative;
   }
   &__none{
      opacity: 0;
      position: absolute;
      left: -100%;
   }
   &__title {
      font-weight: 510;
      font-size: 1.4rem;

      margin-bottom: 1.3rem;
   }
   &__checkbox {
      display: flex;
      align-items: center;
      column-gap: 11px;
   }
   &__text {
      font-size: 1.4rem;
   }

   &__bar {
      overflow: hidden;
      scrollbar-width: none;

      width: 100%;
      height: 8px;
      padding: 2px;

      border-radius: 5px;
      background: $bg-color;
   }
   &__progress {
      height: 100%;

      background: $primary-color;
      border-radius: 5px;

      transition: width 1.2s ease;
   }

   &__button {
      font-size: 1.4rem;
      font-weight: 510;
      line-height: 1.8;

      text-decoration: underline;
      text-align: left;
   }

   &__checkField {
      width: auto !important;

      & > label > input {
         cursor: pointer;
      }
   }
   // &__field > label > input {
   //    border: 1px solid red;
   // }

   &__inputMask {
      width: 100%;
      padding: 1.7rem 2.4rem;

      border-radius: 10px;
      border: 2px solid #e0e5f2;
      color: #4f4f4f;
   }
   &__error{
      font-size: 12px;
      color: $grey;

      margin: 4px 0 0 2rem;
   }
}

.dark {
   label {
      background-color: transparent !important;
   }
}
