.table {
   width: 100%;
   border-collapse: collapse;

   &__thead{
      width: 100%;
      border-bottom: 1px solid #ddd;
   }
   &__item{
      width: 25%;

      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: -0.28px;
      color: $dark-grey;

      text-align: left;

      padding: 2rem 0 2rem 2rem;
   }

   &__border {
      margin: 2rem 0;

      background-color: $common-white;
      border-radius: 20px 20px;
   }

   &__list{
      width: 100%;
      tr{
         &:not(:last-child){
            border-bottom: 1px solid #ddd;
         }
      }
   }
   &__orders{
      border-radius: 16px;
      background-color: $common-white;
      overflow: hidden;
   }
}

.dark {
   background-color: $black-theme;

   * {
      color: $white-theme;
   }
   .table__thead th{
      color:  rgb(162, 154, 142);;
   }

   tr{
      &:not(:last-child){
         background-color: $black-theme;
         border-bottom: 1px solid $border-theme !important;
      }
   }
   .table__thead{
      border-bottom: 1px solid $border-theme;
   }
}


//Tablet Small

@media (max-width: 600px) {
   .table {
      &__thead th{
         &:last-child{
            display: none;
         }
      }
      &__list{
         width: 100%;
         tr td{
            &:last-child{
               display: none;
            }
         }
      }
   }
}

