.table {
   border-radius: 1.6rem;
   background-color: $common-white;

   &__heading {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding: 2rem;
      border-bottom: 1px solid #e9edf7;
   }

   &__title {
      color: $dark-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
   }
   &__error{
      padding: 1.5rem;
   }

   &__list {
      width: 100%;
   }
}
//       border-bottom: 1px solid $border-theme; color: rgb(162, 154, 142);
.dark {
   background-color: $black-theme;
   .table {
      &__heading {
         border-bottom: 1px solid $border-theme;
      }

      &__title {
         color: $dark-grey;
      }
   }
}

.skeletons {
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
   margin-top: 1.6rem;
}

//Tablet Small

@media (max-width: 600px) {
   .table {
      &__thead th {
         &:last-child {
            display: none;
         }
      }
      &__list {
         width: 100%;
         tr td {
            &:last-child {
               display: none;
            }
         }
      }
   }
}
