.table {
   border-radius: 1.6rem;
   background-color: $common-white;

   &__heading {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem;
      border-bottom: 1px solid #e9edf7;
   }

   &__title {
      color: $dark-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
   }

   &__list {
      width: 100%;
   }
}

.dark {
   background-color: $black-theme;

   * {
      color: $white-theme;
   }
   .table__thead th {
      color: rgb(162, 154, 142);
   }

   tr {
      &:not(:last-child) {
         background-color: $black-theme;
         border-bottom: 1px solid $border-theme !important;
      }
   }
   .table__thead {
      border-bottom: 1px solid $border-theme;
   }
}

//Tablet Small

@media (max-width: 600px) {
   .table {
      &__thead th {
         &:last-child {
            display: none;
         }
      }
      &__list {
         width: 100%;
         tr td {
            &:last-child {
               display: none;
            }
         }
      }
   }
}
