.position{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__top{
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__border{
    border: 1px solid $white-theme;
    border-radius: 20px;

    background-color: $common-white;
    min-width: 44rem !important;
  }

  &__thead{
    width: 100%;
    border-bottom: 1px solid $white-theme;
  }
  &__item{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;

    text-align: left;
    color: $grey;

    padding: 2rem;

    &:not(:last-child){
      border-right: 1px solid #ddd;
    }

    &__idx{
      width: 4%;
    }
    &__title{
      width: 20%;
    }
    &__descr{
      width: 100%;
    }
  }

  &__list{
    width: 100%;

    tr{
      &:not(:last-child){
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

//Mobile
@media (max-width: 500px) {
  .position__top{
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .table{
    &__item{
      &__idx{
        width: 2%;
      }
      &__title{
        width: 5%;
      }
    }
  }
}


.dark{
  .table{
    &__border{
      background-color: $black-theme;
      border: 1px solid $border-theme;
    }
    &__thead{
      border-bottom: 1px solid $border-theme;
    }
    &__item{
      color: $white-theme;

      &:not(:last-child){
        border-right: 1px solid $border-theme;
      }
    }
    &__list{

      tr{
        &:not(:last-child){
          border-bottom: 1px solid $border-theme;
        }
      }
    }
  }
}
