//.loader{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   &__full{
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//      z-index: $z10;
//   }
//}

.default{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.full{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: $z10;
}