.organization{
  width: 100%;
  height: 100%;

  &__row{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text{
    font-weight: 510;
    line-height: 1.6;
    color: $grey;
    white-space: pre-wrap;

    margin: 3rem 0 2rem;
  }
}