.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.order {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  flex-grow: 1;

  border-bottom: 1px solid $dark-grey;
  padding-bottom: 1.6rem;
  margin-bottom: 2rem;

  &__margin {
    margin-bottom: 0.7rem;
  }
  &__input {
    border-radius: 12px;

    label input {
      border: 1px solid transparent;
      padding: 1.609rem;
    }
  }
  &__phoneInput{
    background-color: white !important;
    border-color: transparent !important;
  }



  &__block {
    margin-top: 1rem;
  }

  &__currency{
    width: 9rem !important;

    margin-bottom: 0.9rem;
  }

  &__select {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__selectInput {
    border-color: $white-theme !important;
    border-radius: 10px !important;
    padding: 1.7rem !important;
  }

  &__sizes {
    display: flex;
    align-items: center;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 4px;
      background-color: $common-white;
      border-radius: 4px;

      svg {
        width: 16px;
        height: 16px;

        cursor: pointer;

        path {
          fill: #5c5f62;
        }
      }
    }
  }

  &__block_gap {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 2.5rem;
  }

  &__date {
    display: flex;
    column-gap: 12px;
  }

  &__block_row{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
  }
  &__block_flex{
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: auto;
    justify-content: flex-end;
  }
}

.dark {
  .order {
    border-bottom: 1px solid $border-theme;

    &__input{
      background-color: $black-theme;
      border: 1px solid $border-theme;
    }
    &__phoneInput{
      background-color: $black-theme !important;
      border: 1px solid $border-theme !important;
      input{
        background-color: $black-theme;
      }
    }
    &__sizes {
      li {
        background-color: $black-theme;

        span {
          color: $white-theme;
        }

        svg {
          path {
            fill: $white-theme;
          }
        }
      }
    }
  }
}

.bgColor {
  background-color: $bg-color;
}
