.order{
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 1.6rem;


  &__margin{
    margin: 2rem 0;
  }
  &__block{
    margin-top: 3.2rem;
  }

  &__date{
    display: flex;
    column-gap: 12px;
  }
  &__button{
    margin: 2.3rem 0 1rem auto;
  }

}