.user {
   width: 100%;
   padding: 2rem;

   &__top {
      display: flex;
      column-gap: 2rem;
   }
   &__bottom {
      margin: 5rem 0 2.5rem;
   }

   &__avatar {
      width: 6.8rem;
      height: 6.8rem;

      @include bgImg;
      border-radius: 50%;
      background-color: $primary-color;
      overflow: hidden;
      position: relative;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      row-gap: 0.7rem;
   }
   &__name {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 600;
   }
   &__text {
      color: $grey;
      line-height: 1.5;
   }
   &__more {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      color: $grey;
   }

   &__mb {
      margin-bottom: 1rem;
   }
}

.dark {
   .user__bottom {
      // border: 1px solid $border-theme;
   }
}
