.chats{
  overflow-y: scroll;
  height: 60vh;
  &__title{
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }
}

/* Desktop media */
@media (min-height: 900px) {
  .chats {
    height: 65.7vh;
  }
}


/* Desktop media */
@media screen and (min-height: 1200px) {
  .chats {
    height: 70vh;
  }
}