.form {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.order {
   display: flex;
   flex-direction: column;
   flex-grow: 1;

   border-bottom: 1px solid $dark-grey;
   padding-bottom: 1.6rem;
   margin-bottom: 2rem;

   &__margin {
      margin: 2rem 0;
   }
   &__block {
      margin-top: 3.2rem;
   }

   &__date {
      display: flex;
      column-gap: 12px;
   }

   &__btns {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-top: auto;
      justify-content: flex-end;
   }
}

.bgColor {
   background-color: $bg-color;
}
