.button{
  display: flex;
  column-gap: 2px;
  &__button{
    display: inline-block;

    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
  }
  &__text{
    font-size: 1.4rem;

  }
}