.form {
   //border-bottom: 1px solid $dark-grey;
   padding-bottom: 3rem;
   margin-bottom: 2rem;

   &__fieldset {
      &:not(:last-child) {
         margin-bottom: 3.2rem;
      }
   }

   &__title {
      margin-bottom: 2rem;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
   }

   &__box {
      display: flex;
      align-items: center;
      column-gap: 12px;
   }

   &__tabs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-right: 1rem;
      gap: 2rem;
      flex-wrap: wrap;
   }
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

      margin-top: 2rem;
   }
   &__btn {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-top: auto;
      justify-content: flex-end;
   }

   &__skeleton {
      margin-bottom: 3.2rem;
   }
}

.orderBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   h3 {
      margin-bottom: 2rem;
   }
}
