.form {
   display: flex;
   flex-direction: column;
   height: 100%;

   &__row {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      border-bottom: 1px solid $dark-grey;
      padding-bottom: 1.6rem;
      margin-bottom: 2rem;
   }
   &__margin {
      margin: 2rem 0;
   }
   &__button {
      display: flex;
      align-items: center;
      column-gap: 8px;
      justify-content: flex-end;
   }
}
