.category_item {
   &:not(:last-child) {
      margin-bottom: 1.6rem;
      padding-bottom: 2.4rem;
      border-bottom: 1px solid $dark-grey;
   }
}
.category {
   padding: 1.3rem 1.6rem 0;

   &__top {
      width: 100%;

      display: flex;
      align-items: center;
      column-gap: 0.8rem;

      border-radius: 4px;
      padding: 0.8rem 1.6rem;

      &:hover,
      &_active {
         background: rgb(243, 244, 253);
         position: relative;

         &:before {
            content: "";

            position: absolute;
            left: 0;
            top: 0;

            width: 4px;
            height: 100%;

            background: rgb(255, 204, 0);
            border-radius: 4px 0 0 4px;
         }
      }
      @include transition;
   }

   &__title,
   &__item {
      text-align: left;
      font-size: 16px;
   }

   &__icon {
      width: 2rem;
      height: 2rem;
   }

   &__list {
      display: flex;
      flex-direction: column;

      row-gap: 0.8rem;

      padding-left: 2rem;
      margin-left: 2rem;

      border-left: 1px solid $dark-grey;
      color: $dark-grey;
   }

   &__item {
      color: rgb(142, 142, 147);
      font-weight: 400;

      @include transition;

      &:hover,
      &_active {
         color: #000000 !important;
         font-weight: 500;
      }
   }
}

.dark {
   .category__top {
      &:hover,
      &_active {
         background: #1c1e1f;

         &:before {
            background-color: rgb(153, 122, 0);
         }
      }
   }

   .category__item {
      color: $dark-grey;
      &:hover,
      &_active {
         color: $white-theme !important;
      }
   }
}

/* Laptop */
@media (max-width: 1439px) {
   .category {
      padding: 1.3rem 0 0;
   }
}

/* Tablet Small*/
@media (max-width: 900px) {
   .category {
      &__top {
         padding: 0.8rem 1.2rem;
      }

      &__list {
         margin-left: 1rem;
      }
   }
}
