.bell {
   flex-shrink: 0;
   cursor: pointer;

   width: 20px;
   height: 20px;
   fill: none;

   path {
      stroke: $common-black;
   }
}

.dark {
   .bell {
      color: $common-white;

      path {
         stroke: $common-white;
      }
   }
}
