.btn {
   position: relative;
   display: inline-flex;
   align-items: center;

   width: 30px;
   height: 30px;

   &__notice {
      position: absolute;
      top: 0;
      right: 0;

      width: 16px;
      height: 18px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #ff3b30;
      z-index: $z2;

      color: $common-white;
      font-size: 12px;
   }
}

.bell {
   flex-shrink: 0;
   cursor: pointer;

   width: 20px;
   height: 20px;
   fill: none;

   path {
      stroke: $common-black;
   }

   @media (hover: hover) and (pointer: fine) {
      &:hover {
         // animation: shake 500ms ease;
      }
   }
}

@keyframes shake {
   10% {
      rotate: 12deg;
   }
   30%,
   70% {
      rotate: -15deg;
   }
   50%,
   85% {
      rotate: 35deg;
   }
}

.dark {
   .bell {
      color: $common-white;

      path {
         stroke: $common-white;
      }
   }
}
