.organization{
  width: 100%;
  height: 100%;

  &__date{
    display: inline-block;
    margin: 2.4rem 0;
    padding: 4px 1.6rem;

    border-radius: 8px;
    background-color: rgb(232, 232, 232);
  }

  &__margin{
    margin-bottom: 2rem;
  }
}