.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem 2rem;

  border-radius: 10px;


  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: $common-white;

  position: relative;

  &__row{
    //max-height: 280px;
    //width: 350px;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__responses{
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;

    color: #0D311E;

    text-decoration: underline;
  }


  &__info{

  }

  &__title{
    font-size: 1.7rem;
    font-weight: 600;
    color: #468ffd;
  }
  &__salary{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
  }
  &__experiance{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__icon{
    width: 17px;
  }

  &__block{
    display: inline-block;
    padding: 0.3rem 0.5rem;

    background-color: #F0FBF3;
    border-radius: 4px;

  }

  &__description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
  }
  &__button{
    color: $common-white;
    background-color: #5BCF83;
    padding: 1rem;

    border-radius: 6px;

    margin-top: 1rem;


    @media (hover: hover) and (pointer: fine){
      &:hover{
        filter: brightness(110%);
      }
    }

  }
}

.dark{
  .item{
    &__block{
      background-color: #0D311E;
    }
    &__responses{
      color: $white-theme;
    }

    &__button{
      color: $common-white;
      background-color: #2C9863;

      @media (hover: hover) and (pointer: fine){
        &:hover{
          filter: brightness(110%);
        }
      }

    }
  }
  background-color: $black-theme;
}