.item {
   background-color: $common-white;
   border-radius: 16px;
   padding: 3.2rem;

   &__info {
      display: flex;
      justify-content: space-between;

      padding-bottom: 2rem;
      border-bottom: 1px solid $dark-grey;
      column-gap: 1.6rem;
   }
   &__title {
      font-weight: 510;
      color: $dark-blue;
   }
   &__subtitle {
      line-height: 1.4;
      color: rgb(0, 133, 255);
   }
   &__text {
      color: $dark-blue;
   }
   &__price {
      font-size: 2.4rem;
      line-height: 1.2;

      color: $primary-color;
      font-weight: 700;
      margin-top: 2rem;
   }
   &__date {
      display: inline-block;
      padding: 4px 1.6rem;

      border-radius: 8px;
      background-color: rgb(232, 232, 232);
   }

   &__employees {
      display: flex;
      column-gap: 2rem;

      margin-top: 8px;
   }
   &__employee {
      display: flex;
      column-gap: 8px;
      align-items: center;
   }
   &__image {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background-color: $bg-color;
   }
   &__salary {
      font-size: 1.4rem;
      color: $grey;
   }
   &__border {
      padding: 2rem 0;
      border-bottom: 1px solid $dark-grey;
   }
   &__button {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-top: 2rem;
      justify-content: flex-end;
   }
}
