.commerce {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 5px;

   border-radius: 10px;
   padding-right: 2rem;
   background: $primary-color;

   &__box {
      display: flex;
      align-items: center;
      column-gap: 2rem;
   }

   &__text {
      color: $common-black;
      font-size: 1.7rem;
      line-height: 1.5;
   }
}

.box {
   display: inline-flex;
   align-items: flex-start;
   column-gap: 16px;

   padding: 1.9rem;
   border-radius: 10px;
   background-color: $primary-color;

   color: $common-black;
   line-height: 1.5;

   img {
      padding: 3px 0;
   }

   &__col {
      h4 {
         font-size: 1.7rem;
      }

      p {
         font-size: 14px;
         opacity: 0.6;
      }
   }
}

/* Tablet*/
@media (max-width: 1140px) {
   .commerce {
      display: inline-flex;
      column-gap: 2rem;
      &__text {
         display: none;
      }
   }
}

/* Mobile XS */
@media (max-width: 390px) {
   .commerce {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem;
      &__box {
         display: none;
      }
   }
}
