.logo {
   max-width: 18.8rem;
   width: 100%;
   margin: 0 auto;

   padding-bottom: 3.2rem;
   margin-bottom: 3.2rem;
   border-bottom: 1px solid $dark-grey;

   &__image {
      width: 7rem;
      height: 7rem;

      margin-bottom: 2rem;
   }

   h1 {
      margin-bottom: 1.2rem;
   }

   &__text {
      color: rgba(0, 0, 0, 0.5);

      font-size: 14px;
   }
}
