.field {
   display: block;
   width: 100%;
   padding: 1rem 2rem;

   background-color: $common-white;
   border-radius: 10px;

   &__bordered {
      background-color: $common-white;
      border-radius: 10px;
   }

   &__inputWrapper {
      width: 100%;
      position: relative;
   }

   &__input {
      width: 100%;

      &:disabled {
         background-color: transparent;
         cursor: default;
      }
   }
   &__input_bordered {
      width: 100%;
      padding: 1.7rem 2.4rem;

      border-radius: 10px;
      border: 2px solid #e0e5f2;
      color: #4f4f4f;

   }
   &__input_danger {
      width: 100%;
      padding: 1.7rem 2.4rem;

      border-radius: 10px;
      border: 1px solid $danger-color !important;
      color: #4f4f4f;
   }

   &__input_psw {
      padding: 1.7rem 6.6rem 1.7rem 2.4rem;
   }

   &__title {
      font-size: 1.4rem;
      line-height: 1.2;

      color: $dark-grey;
      margin-bottom: 4px;
   }

   &__error {
      font-size: 1.2rem;
      line-height: 0.8;
      color: $dark-grey;

      margin-top: 1rem;
      margin-left: 2rem;
   }

   &__toggleIcon {
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      width: 2.4rem;
      height: 2.4rem;
   }
   //&__length{
   //   text-align: right;
   //   font-size: 1.2rem;
   //   line-height: 0.8;
   //   color: $dark-grey;
   //
   //   margin-top: 1rem;
   //   margin-right: 1rem;
   //}
}

.fieldWrapper {
   position: relative;
   width: 100%;
}
