.field {
   display: block;
   width: 100%;
   padding: 1rem 2rem;

   background-color: $common-white;
   border-radius: 10px;

   &__bordered {
      background-color: $common-white;
      border-radius: 10px;
   }

   &__input {
      width: 100%;

      &:disabled {
         background-color: transparent;
         cursor: default;
      }
   }
   &__input_bordered {
      width: 100%;
      padding: 1.7rem 2.4rem;

      border-radius: 10px;
      border: 2px solid $bg-color;
      color: #4f4f4f;
   }

   &__title {
      font-size: 1.4rem;
      line-height: 1.2;

      color: $dark-grey;
      margin-bottom: 4px;
   }

   &__error {
      font-size: 1.2rem;
      line-height: 0.8;
      color: $dark-grey;

      margin-top: 1rem;
      margin-left: 2rem;
   }
   //&__length{
   //   text-align: right;
   //   font-size: 1.2rem;
   //   line-height: 0.8;
   //   color: $dark-grey;
   //
   //   margin-top: 1rem;
   //   margin-right: 1rem;
   //}
}

.fieldWrapper {
   position: relative;
   width: 100%;
}
