.item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.6rem 3.2rem 1.6rem 1.6rem;

   background-color: $common-white;
   border-radius: 16px;
   position: relative;
   cursor: pointer;

   &__left {
      display: flex;
      column-gap: 2.1rem;
   }

   &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      p {
         text-align: right;
      }
   }

   &__image {
      width: 7.5rem;
      height: 7.5rem;
      object-fit: cover;
      border-radius: 10px;
      overflow: hidden;
   }
   &__price {
      color: $primary-color;
      font-weight: 700;
   }

   &__title {
      font-weight: 510;
      color: $dark-blue;
   }
   &__subtitle {
      font-size: 1.4rem;
      line-height: 1.4;
      color: rgb(0, 133, 255);

      &_green {
         color: #34c759;
      }
      &_primary {
         color: $primary-color;
      }
   }
   &__text {
      color: $dark-blue;

      max-height: 50px;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      overflow: hidden;

      max-width: 80em;
   }

   &__detail {
      color: $dark-grey;
      font-size: 1.4rem;
      line-height: 1.42;
      letter-spacing: -0.28px;

      min-width: 105px;

      @include transition;

      &:hover,
      &:active {
         color: $common-black;
         cursor: pointer;
      }
   }

   &__status {
      font-size: 1.4rem;
      line-height: 1.42;
      letter-spacing: -0.28px;

      padding: 1rem;

      border-radius: 4px;
      color: #181a1b;
   }

   &__date {
      // position: absolute;
      // top: 1.6rem;
      // right: 3.2rem;

      font-size: 14px;
      line-height: 1.42;
      letter-spacing: -0.28px;
   }
}

.dark {
   background-color: $black-theme;

   p {
      color: $dark-grey;
   }

   .item__detail {
      &:hover,
      &:active {
         color: $white-theme;
      }
   }
}

// Mobile XS

@media (max-width: 450px) {
   .item {
      &__text {
         max-width: none;
      }
      &__date {
         display: none;
      }
      &__detail {
         display: none;
      }
      &__price{
         display: none;
      }
   }
}
