.section {
   &__filters{
      display: flex;
      column-gap: 2rem;
      justify-content: flex-end;
      align-items: center;

      margin-bottom: 2rem;
   }

   &__button{
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $grey;
      margin-bottom: 2rem;

      p{
         color: $grey;
         min-width: 14rem;
      }
      span{
         width: 30px;
      }
   }

   &__selectWrapper{
      display: inline-flex;
      width: 25rem;

   }
   &__select {
      padding: 0.9rem 1rem !important;

      border: 1px solid $grey !important;
      border-radius: 10px !important;
      background-color: transparent !important;
   }

   &__list{
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
      gap: 16px;

   }
   &__observer{
      height: 10px;
   }

}

/* Mobile */
@media (max-width: 430px) {
   .section {
      &__list{
         grid-template-columns: 1fr;
         gap: 3.2rem;
      }
   }
}


