.organization {
   width: 100%;
   height: 100%;

   &__intro {
      margin-bottom: 2.4rem;
   }

   &__margin {
      margin-bottom: 2rem;
   }
}

.dark {
   color: $black-theme;

   .organization__date {
      background-color: $border-theme;
      color: $white-theme;
   }
}
