.select {
   min-width: 9rem;
   width: 100%;

   border-radius: 8px;

   &__wrapper{
      width: 100%;
   }
   &__error{
      border: 1px solid $danger-color !important;
   }

   &__selected {
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding: 1.1rem 1.2rem;

      border-radius: 4px;
   }

   &__select{
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      overflow: hidden;
      text-align: left;
   }

   &__relative{
      position: relative;
      width: 100%;
   }

   &__text {
      font-size: 1.4rem;
      color: $grey;

      margin-bottom: 8px;
   }

   &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: $z2;

      width: 100%;
      max-height: 250px;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 8px;

      background-color: $common-white;
      border-radius: 8px;

      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
   }

   &__item {
      width: 100%;
      padding: 1rem 8px;

      text-align: left;
      border-radius: 8px;

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            background-color: $bg-color;
         }
      }
      &_active {
         background-color: $bg-color;
      }
   }

   &__icon {
      width: 20px;
      color: $grey;

      @include transition;

      &_active {
         transform: rotate(180deg);
      }
   }

}

.default{
   padding: 1rem 2rem;
   background-color: $common-white;

   &__selected {
      border: 1px solid $grey;
      background-color: $common-white;
   }
}
.transparent{
   padding: 0;
   background-color: transparent;

   &__selected {
      border: 1px solid $white-theme;
      background-color: $common-white;
   }
}

.chat{
   padding: 0;
   background-color: transparent;
   &__selected{
      padding: 0.9rem 1rem !important;

      border-radius: 10px !important;
      border: 1px solid $grey;
      background-color: transparent;
   }
}

.vacancy{
   padding: 0;
   background-color: transparent;

   &__selected{
      border: 1px solid $white-theme;
      background-color: $common-white;

      border-radius: 10px !important;
      padding: 1.8rem 1.7rem !important;
   }
}
.bordered{
   padding: 0;
   background-color: transparent;

   &__selected{
      border: 1px solid $grey;
      background-color: $common-white;

      border-radius: 10px !important;
      padding: 1rem 2rem;;

   }
}

.auth{
    padding: 0;
    background-color: transparent;

    &__selected{
       border: 1px solid $white-theme;
       background-color: $common-white;

       border-radius: 10px !important;
       padding: 1.5rem 1.7rem !important;
    }
 }


.dark {
   .transparent{
      background-color: transparent !important;
   }


   .select {
      background-color: $black-theme;
      * {
         color: $white-theme;
      }

      &__selected {
         border-color: $border-theme !important;
         background-color: $black-theme;

         border: 1px solid $border-theme;
      }

      &__menu {
         background-color: $black-theme;
      }

      &__item {
         @media (hover: hover) and (pointer: fine) {
            &:hover {
               background-color: #1c1e1f;
            }
         }
         &_active {
            background-color: #1c1e1f;
         }
      }
   }
}
