.detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;

  &__vacancy{
    //max-width: 45rem;
    width: 100%;

    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: $common-white;

    padding: 2.8rem;
  }
  &__right{
    padding: 0 2rem;
  }
  &__title{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__salary{
    line-height: 1.5;
    font-size: 1.9rem;

    margin: 1rem 0 1.5rem;
  }
  &__text{
    line-height: 1.5;
    margin-bottom: 0.3rem;
  }
  &__button{
    width: 23rem;

    padding: 1.3rem 0;
    margin-top: 2rem;

    color: $common-white;
    background-color: #0dc267;
    border-radius: 6px;

    @media (hover: hover) and (pointer: fine){
      &:hover{
        filter: brightness(110%);
      }
    }
  }

  &__vacancies{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    // display: grid;
    //    grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
    //    gap: 1.5rem;
  }

  &__info{
    margin-top: 2rem;

  }
  &__description{
    font-weight: 500;
    line-height: 1.5;


    margin-bottom: 1rem;
  }

  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    margin: 5px 0 10px;
  }

  &__phoneWrapper{
    margin: 4rem 0 3rem 0;
    padding: 2.5rem;

    background: #F4F6FB;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  &__form{
    margin: 1.5rem 0;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    //max-height: 40px;
    overflow: hidden;

    border-radius: 4px;
  }
  &__input label input{
    //height: 40px;
    padding: 1.1rem 1.5rem;
  }
  &__conditions{
    color: $grey;
    font-size: 14px;

    span{
      text-decoration: underline;
      cursor: pointer;
      color: #206FD5;
    }
  }
  &__btn{
    background-color: #2B7FFF;
    border-radius: 4px;
    color: $common-white;
    padding: 1rem;
    @media (hover: hover) and (pointer: fine){
      &:hover{
        filter: brightness(110%);
      }
    }
  }
}