.item {

   &__title {
   }
   &__disabled{
      label{
         cursor: auto !important;
      }
   }

   label {
      display: flex;
      align-items: center;
      column-gap: 8px;
   }
}
.dark {
   label {
      background-color: transparent !important;
   }
}
