.item {
   position: relative;

   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 1.6rem;

   padding: 1.6rem;
   background-color: $common-white;
   border-radius: 12px;

   &__row {
      display: flex;
      align-items: center;
      column-gap: 1.6rem;
   }
   &__avatar {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      background-color: $primary-color;
      overflow: hidden;
      position: relative;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__author {
   }

   &__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;

      max-width: 50%;

      line-height: 1.6;
   }

   @include transition;
   cursor: pointer;

   @media (hover: hover) and (pointer: fine) {
      &:hover {
         background-color: rgb(231, 248, 244);
      }
   }

   &:active {
      background-color: rgb(231, 248, 244);
   }

   &:disabled {
   }
}



// Tablet Small media

@media (max-width: 700px) {
   .item{
      justify-content: normal;
      &__date{
         position: absolute;
         top: 0.5rem;
         right: 1rem;
         color: $dark-grey;
      }
      &__title{
         max-width: none;
      }
      &__avatar{
         min-width: 4.5rem;
         min-height: 4.5rem;

         width: 4.5rem;
         height: 4.5rem;
      }
   }
}


// Mobile XS

@media (max-width: 450px) {
   .item{
      &__text{
         max-width: none;
      }

      &__date{
         font-size: 1.3rem;
      }

   }
}

// Mobile XS

@media (max-width: 390px) {
   .item{
      &__author{
         display: none;
      }
      &__avatar{

         width: 3rem;
         height: 3rem;

         min-width: 3.5rem;
         min-height: 3.5rem;
      }

   }
}



