.form {
   display: flex;
   flex-direction: column;
   height: 100%;

   &__images{
      display: flex;
      align-items: center;
      column-gap: 2rem;

      margin: 1rem 0;
   }
   //&__imageWrapper{
   //   position: relative;

   //   cursor: pointer;
   //   transition: .2s filter ease-in;
   //
   //   &:hover{
   //      &:first-child{
   //         filter: brightness(80%);
   //      }
   //      &:before{
   //
   //         width: 100%;
   //         filter: brightness(100%);
   //
   //         content: "Изменить фото";
   //         position: absolute;
   //
   //         top: 50%;
   //         left: 50%;
   //
   //         transform: translate(-50%, -50%);
   //
   //         z-index: $z2;
   //
   //         text-align: center;
   //         color: $common-white;
   //      }
   //   }
   //}
   &__image{
      width: 10rem;
      height: 10rem;
      border-radius: 8px;
      object-fit: cover;
   }

   &__row {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      border-bottom: 1px solid $dark-grey;
      padding-bottom: 1.6rem;
      margin-bottom: 2rem;
      margin-top: 1.3rem;
   }
   &__margin {
      margin: 2rem 0;
   }
   &__button {
      display: flex;
      align-items: center;
      column-gap: 8px;
      justify-content: flex-end;
   }
   &__empty{
      width: 10rem;
      height: 10rem;

      border-radius: 8px;
      border: 1px dashed $dark-grey;

      background-color: $common-white;

      display: flex;
      justify-content: center;
      align-items: center;

      &__text{
         width: 8.2rem;

         padding: 4px 6px;

         font-weight: 600;
         font-size: 1.2rem;
         line-height: 1.3;
         text-align: center;

         color: rgb(31, 81, 153);
         background-color: rgb(229, 239, 253);
         border-radius: 4px;

         cursor: pointer;
      }
   }
}

.dark{
   .form{
      &__row{
         border-bottom: 1px solid $border-theme
      }
      &__margin label{
         border: 1px solid $border-theme;
      }
      &__empty{
         background-color: $dark-theme;
         border: 1px dashed $border-theme;

         &__text{
            color: white;
            background-color: transparent;
         }
      }
   }

}
