.form {
   display: flex;
   flex-direction: column;
   height: 100%;

   //&__imageWrapper{
   //   position: relative;

   //   cursor: pointer;
   //   transition: .2s filter ease-in;
   //
   //   &:hover{
   //      &:first-child{
   //         filter: brightness(80%);
   //      }
   //      &:before{
   //
   //         width: 100%;
   //         filter: brightness(100%);
   //
   //         content: "Изменить фото";
   //         position: absolute;
   //
   //         top: 50%;
   //         left: 50%;
   //
   //         transform: translate(-50%, -50%);
   //
   //         z-index: $z2;
   //
   //         text-align: center;
   //         color: $common-white;
   //      }
   //   }
   //}

   &__row {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      border-bottom: 1px solid $dark-grey;
      padding-bottom: 1.6rem;
      margin-bottom: 2rem;
      margin-top: 1.3rem;
   }
   &__margin {
      margin: 2rem 0;
   }
   &__button {
      display: flex;
      align-items: center;
      column-gap: 8px;
      justify-content: flex-end;
   }
}

.dark{
   .form{
      &__row{
         border-bottom: 1px solid $border-theme
      }
      &__margin label{
         border: 1px solid $border-theme;
      }
   }

}
