.section {
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 3.2rem 0 2rem;
   }

   &__date {
      display: flex;
      align-items: center;
      column-gap: 1.6rem;

      h5 {
         font-size: 14px;
         line-height: 1.57;
         letter-spacing: -0.4px;
      }
   }
   &__margin {
      margin-bottom: 2rem;
   }
}

/* Tablet*/
@media (max-width: 1140px) {
   .section {
      &__row {
         flex-direction: column;
         align-items: start;
         row-gap: 3rem;
      }
   }
}

/* Mobile */
@media (max-width: 600px) {
   .section {
      &__date {
         h5 {
            display: none;
         }
      }
   }
}
