.table {
   width: 100%;
   border-collapse: collapse;

   &__thead{
      width: 100%;
      border-bottom: 1px solid #ddd;
   }
   &__item{
      width: 20%;

      font-size: 1.4rem;
      line-height: 1.4;
      font-weight: 400;

      text-align: left;
      color: $grey;

      padding: 2rem 0 2rem 2rem;
   }

   &__border {
      margin: 2rem 0;

      background-color: $common-white;
      border-radius: 20px 20px;

      //height: 58vh;
      //overflow: hidden;
      //
      //overflow-y: auto;
   }

   &__list{
      width: 100%;
      //height: 58vh;
      //overflow: hidden;
      //
      //overflow-y: auto;

      tr{
         &:not(:last-child){
            border-bottom: 1px solid #ddd;
         }
      }
   }
}

.dark{
   background-color: $black-theme;
   * {
      color: $dark-grey;
   }
   tr{
      &:not(:last-child){
         background-color: $black-theme;
         border-bottom: 1px solid $border-theme !important;
      }
   }
   .table__thead{
      border-bottom: 1px solid $border-theme;

      th{
         color:  rgb(162, 154, 142);
      }
   }
   td span, p, a{
      color: $white-theme !important;
   }
}


@media (max-width: 700px) {
   .table{
      &__item{
         &:nth-child(2) {
            display: none;
         }
         &:nth-child(5) {
            display: none;
         }
      }

   }
}
