.column {
   padding: 2rem;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   width: 100%;
   // new
   min-width: 195px;
   height: 100%;

   // flex-shrink: 0;

   border-radius: 10px;
   background-color: $common-white;

   &__title {
      display: flex;
      padding: 4px 1.6rem;
      justify-content: center;
      align-items: center;

      border-radius: 10px;
      background-color: #c3fffb;

      line-height: 2;
      letter-spacing: -0.32px;
   }

   &__content {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      flex-grow: 1;
   }
   &__dragcomplete {
      //box-shadow: 1px 0 20px $primary-color;
   }
}

.dark {
   background-color: $black-theme;

   .column__title {
      color: $black-theme;
   }
}
