html {
   font-size: 62.5%;
   scroll-behavior: smooth;

   ::selection {
      background: #ffcc00;
      color: $common-black;
   }
}
[data-theme="dark"]{
   $common-black: #fff;
   $common-white: #000;

   $dark-grey: #8e8e93;
   $grey: rgb(142, 142, 147);

   // accent colors
   $primary-color: #fc0;
   $dark-blue: #2b3674;

   $danger-color: #ff3b30;

   // bg-color
   $bg-color: #000;
}

body {
   font-family: var(--font-sf_pro), sans-serif;
   color: $common-black;
   font-size: $font-size-paragraph;
   font-weight: 400;

   text-rendering: optimizeSpeed;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

   * {
      //scrollbar-width: thin;
      //scrollbar-color: rgb(210, 209, 209) #f1f1f1;
      &::-webkit-scrollbar {
         width: 10px;
      }

      &::-webkit-scrollbar-track {
         background: #f1f1f1;
         border-left: solid 4px $bg-color;
      }

      &::-webkit-scrollbar-thumb {
         background: rgb(210, 209, 209);
         border-left: solid 4px $bg-color;
      }

      &::-webkit-scrollbar-thumb:hover {
         background: rgb(244, 197, 5);
      }
   }
}

/* Grid styles */

.container {
   max-width: 1236px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;

   // &--fluid {
   //    max-width: unset;
   // }

   // &--no-padding {
   //    padding: 0;
   // }

   // /* Tablet */
   // @media (max-width: 1199px) {
   //    width: 900px;
   // }

   // /* Mobile */
   // @media (max-width: 768px) {
   //    width: 100%;
   // }
}

.not-found {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
