/* Reset and base styles  */
* {
   padding: 0px;
   margin: 0px;
   border: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

:focus,
:active {
   // outline: none;
}

/* Links */

a,
a:visited {
   color: inherit;
   text-decoration: none;
   display: inline-block;
}

a:hover {
   color: inherit;
   text-decoration: none;
}

a:focus,
a:active {
   outline: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
   font-weight: inherit;
}

ul {
   list-style: none;
}

img,
svg {
   display: block;
   max-width: 100%;
   height: auto;
}

/* Form */

input,
textarea,
button,
select {
   font-family: inherit;
   font-size: inherit;
}

input::-ms-clear {
   display: none;
}

button,
input[type="submit"] {
   display: inline-block;
   box-shadow: none;
   background-color: transparent;
   background: none;
   cursor: pointer;
}
input[type="checkbox"] {
   width: 18px;
   height: 18px;
   filter: sepia(100%) brightness(85%) hue-rotate(170deg) saturate(70%) contrast(300%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

textarea:focus,
textarea:active,
input:focus,
input:active,
button:focus,
button:active {
   outline: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

label {
   cursor: pointer;
}

legend {
   display: block;
}
