.flex {
   display: flex;
}

.none {
   display: none !important;
}

.visually-hidden {
   opacity: 0;
   visibility: hidden;
   width: 0px;
   height: 0px;
   display: block;
   margin-left: -10000px;
   background: transparent;
   font-size: 0;
}

.lightBg {
   background-color: $bg-color !important;
}

.modalFlex {
   display: flex;
   flex-direction: column;
   row-gap: 1.6rem;
}

.greyText {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.32px;
   color: $common-black;
   opacity: 0.6;

   white-space: pre-line;
}

.textMaxWidth {
   max-width: 25rem;
}

.commonGreyText {
   font-size: 14px;
   color: $common-black;
   opacity: 0.6;
}


.dark-blue {
   color: $dark-blue;
   font-weight: 500;
}