// common colors
$common-black: #000;
$common-white: #fff;

$dark-grey: #8e8e93;

// accent colors
$primary-color: #fc0;
$dark-blue: #2b3674;
$danger-color: #ff3b30;

// bg-color
$bg-color: #f8f9fa;

// typography
$font-size-paragraph: 1.6rem;
