.section {
   height: 100%;
   width: 100%;

   border-radius: 0px 0px 0px 20rem;
   overflow: hidden;

   position: relative;
   &_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $z1;
      background-color: rgba(0, 0, 0, 0.5);
   }

   @include bgImg;
   &__box {
      position: absolute;

      @include translateCenter;

      z-index: $z2;
      max-width: 31.2rem;
      width: 100%;
      text-align: center;
      color: $common-white;

      img {
         display: inline-block;
         margin-bottom: 3rem;
         width: 11.6rem;
         height: 11.6rem;
      }
   }

   &__title {
      font-size: 4rem;
      font-weight: 700;
      line-height: 0.91;
      margin-bottom: 2rem;
   }

   &__descr {
      font-size: 2.3rem;
      font-weight: 400;
   }
}
