.search {
   position: relative;
   &__icon {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
   }

   &__input {
      padding-left: 5.2rem;
      padding-right: 2rem;
      padding: 1rem 2rem 1rem 5.2rem;
      width: 40.9rem;

      border-radius: 1rem;
      border: 0.5px solid $dark-grey;
      background: $common-white;

      color: $common-black;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;

      &::placeholder {
         color: #7a7e9e;
      }
   }
}

/* Mobile */
@media (max-width: 600px) {
   .search {
      width: 100%;
      &__input {
         width: 100%;
      }
   }
}
