@keyframes pulse {
   0% {
      background-position: 0% 0%;
   }
   50% {
      background-position: -135% 0%;
   }
   100% {
      background-position: 0% 0%;
   }
}

.card {
   width: 100%;
   @include pulseAnimation;
   border-radius: 15px;
}

.standart {
   height: 39.5rem;
}

.listItem {
   height: 10.6rem;
}

.employees {
   height: 50rem;
   border-radius: 35px;
}

.authorText {
   height: 8rem;
}

// avatar skeleton

.skeleton {
   display: flex;
   column-gap: 2rem;
   &__avatar {
      border-radius: 50%;
      width: 9rem;
      height: 9rem;
      @include pulseAnimation;
   }

   &__info {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
      row-gap: 0.7rem;
   }

   &__name {
      width: 16rem;
      height: 3rem;
      @include pulseAnimation;
      border-radius: 4px;
   }

   &__text {
      width: 18rem;
      height: 3rem;
      @include pulseAnimation;
      border-radius: 4px;
   }
}
