.list{
  margin: 2rem 0;
  background-color: $common-white;
  border-radius: 20px 20px;

  &__top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    border-bottom: 3px solid $bg-color;
  }

  &__item{
    font-size: 1.4rem;

    padding: 2rem 0 2rem 2rem;


    list-style-type: none;

    color: $dark-grey;

  }
}