.textarea{
  display: block;
  width: 100%;

  padding: 1rem 2rem;

  background-color: $common-white;
  border-radius: 10px;

  &__bordered{
    width: 100%;

    border: 1px solid $grey;
    background-color: $common-white;
    border-radius: 10px;
  }


  &__borderedArea{

    width: 100%;
    //height: auto;

    height: 3rem;
    max-height: 100%;
    padding: 0.5rem 2rem;

    border-radius: 10px;
    resize: none;
  }

  &__input{
    width: 100%;
    min-height: 13.2rem;

    resize: none;
  }

  &__title{
    font-size: 1.4rem;
    line-height: 1.2;

    color: $dark-grey;
    margin-bottom: 4px;
  }

  &__error{
    font-size: 1.2rem;
    line-height: 0.8;
    color: $dark-grey;

    margin-top: 1rem;
    margin-left: 2rem;
  }
}