.textarea {
  width: 100%;
  min-height: 13.2rem;

  resize: none;

  &__label{
    width: 100%;
    display: block;

    padding: 1rem 2rem;

    background-color: $common-white;
    border-radius: 10px;
  }

  &__title{
    font-size: 1.4rem;
    line-height: 1.2;

    color: $dark-grey;
    margin-bottom: 4px;
  }
  &__errorField{
    width: 100%;
    padding: 1.7rem 2.4rem;

    border-radius: 10px;
    border: 1px solid $danger-color !important;
    color: #4f4f4f;
  }
  &__error {
    font-size: 1.2rem;
    line-height: 0.8;
    color: red;

    margin-left: 2rem;
  }
}

.bordered_grey{
  display: block;
  width: 100%;

  border: 1px solid $grey;
  background-color: $common-white;
}
.bordered_white{
  display: block;
  width: 100%;

  border: 1px solid $white-theme;
  background-color: $common-white;
}

.default{

}

.chat{
  border: 1px solid $white-theme;
  padding: 0;

  &__textArea{
    min-height: auto;
    max-height: 6rem;

    height: 3.4rem;
    padding: 0.5rem 2rem;
  }
}

.dark{

  border: 1px solid $border-theme;

  //.bordered_grey{
  //  border: 1px solid $border-theme;
  //}
  //.bordered_white{
  //  border: 1px solid $border-theme;
  //}
  //.chat{
  //  border: 1px solid $border-theme;
  //}
}

