.pagination {
   display: flex;
   align-items: center;
   column-gap: 2rem;
   &__btn {
      width: 3.2rem;
      height: 3.2rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
   }

   &__list {
   }

   &__item {
   }
}
