.item{
   td{
      width: 20%;
      text-align: left;

      font-size: 14px;
      line-height: 1.71;
      letter-spacing: -0.28px;
      font-weight: 400;

      padding: 2rem 0 2rem 2rem;
   }

   span {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: -0.28px;
   }

   a {
      text-decoration: underline;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: -0.28px;
   }
}


//@media (max-width: 700px) {
//   .item td{
//
//      &:last-child{
//         display: none;
//      }
//   }
//}



