.item {
   display: grid;
   grid-template-columns: repeat(5, 1fr);

   align-items: center;

   padding: 2rem;
   a {
      text-decoration-line: underline;
   }


   &:not(:last-child) {
      border-bottom: 1px solid #e9edf7;
   }

   &__link {
      text-decoration: underline;
      cursor: pointer;
   }
   &__status{
      display: inline-flex;

      padding: 1rem 3.5rem;
      border-radius: 4px;
      color: $dark-theme;
   }
}

.dark {
   &:not(:last-child) {
      border-bottom: 1px solid $border-theme;
   }

   color: $dark-grey;

   a {
      color: $dark-grey !important;
      @include transition;
      &:hover {
         color: $common-white !important;
      }
   }

   .item__status{
      color: $white-theme;
   }
}
