.item {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 2rem;

   a {
      text-decoration-line: underline;
   }

   &:not(:last-child) {
      border-bottom: 1px solid #e9edf7;
   }

   &__link {
      text-decoration: underline;
      cursor: pointer;
   }
}

.dark {
   &:not(:last-child) {
      border-bottom: 1px solid $border-theme;
   }

   color: $dark-grey;

   a {
      color: $dark-grey !important;
      @include transition;
      &:hover {
         color: $common-white !important;
      }
   }
}
