.author {
   display: flex;
   align-items: center;
   column-gap: 12px;

   &__avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      @include bgImg;
   }

   &__col {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
   }

   &__name {
      font-size: 13px;
      line-height: 1;
   }

   &__subtitle {
      color: $dark-grey;
      font-size: 13px;
      line-height: 1;
   }

   &_large {
      .author {
         column-gap: 1.6rem;
         &__avatar {
            width: 5rem;
            height: 5rem;
         }

         &__col {
            row-gap: 8px;
         }

         &__name {
            font-size: 1.8rem;
         }

         &__subtitle {
            font-size: 1.6rem;
         }
      }
   }
}
