.section {
   &__heading {
      margin-bottom: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 3.2rem;
   }
   &__content {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // gap: 2rem;
      position: relative;
   }

   &__btns {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      padding-right: 1rem;
   }

   &__btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;

      background-color: $dark-blue;

      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: $z2;

      svg {
         color: $common-white;
      }

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            background-color: #2b3c9b;
         }
      }

      &:active {
         background-color: #2b3c9b;
      }

      &:disabled {
         background-color: #5261b4;
         cursor: default;
      }
   }

   &__icon {
      position: absolute;
      @include translateCenter;
   }

   &__card {
      max-width: 26.9rem;
   }
}
